@keyframes moving-snowflake {
  0% {
    top: -10%;
  }
  100% {
    top: 105%;
  }
}
@keyframes text-color-change {
  0% {
    color: #fffaee;
  }
  100% {
    color: #ae1100;
  }
}
@keyframes animeted-text {
  0%,
  10%,
  20%,
  30%,
  100% {
    transform: translateX(0);
  }
  50%,
  55%,
  60% {
    transform: translateX(43vw);
  }
}

@keyframes animeted-dash {
  0%,
  10%,
  20%,
  30%,
  100% {
    width: 4vw;
  }
  50%,
  55%,
  60% {
    width: 20vw;
  }
}
@keyframes animeted-child {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate-wreath {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes decoration {
  0% {
    transform: scale(0.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(100deg);
  }
}

@keyframes animeted-tape {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animeted-red-bow {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animeted-black-bow {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes animeted-star {
  0% {
    transform: scale(0.01) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes animeted-parts-star {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animated-—Åhristmas-tree {
  0%,
  10%,
  20% {
    height: 0%;
  }
  90%,
  100% {
    max-height: 100%;
  }
}

@keyframes animeted-line-snow-odd {
  0%,
  100% {
    transform: translateX(-1vw);
  }
  50% {
    transform: translateX(1vw);
  }
}
@keyframes animeted-line-snow-even {
  0%,
  100% {
    transform: translateX(-1vw);
  }
  50% {
    transform: translateX(0vw);
  }
}
@keyframes animeted-ball {
  0%,
  10%,
  20%,
  30%,
  100% {
    transform: translateY(60vw);
  }
  50%,
  55%,
  60% {
    transform: translateY(0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes animeted-snowflakes-left {
  0%,
  10%,
  20%,
  30% {
    transform: translateX(50vw) translateY(50vw);
  }
  50%,
  55%,
  60% {
    transform: translateX(3vw) translateY(-2vw);
  }
  100% {
    transform: translateX(-20vw) translateY(-7vw);
  }
}

@keyframes animeted-snowflakes-right {
  0%,
  10%,
  20%,
  30% {
    transform: translateX(-50vw) translateY(50vw);
  }
  50%,
  55%,
  60% {
    transform: translateX(0vw) translateY(-1vw);
  }
  100% {
    transform: translateX(22vw) translateY(-7vw);
  }
}
