* {
  box-sizing: border-box;
}
body {
  background-color: #fffaee;
  width: 100%;
  height: 258.3vw;
  display: flex;
  flex-direction: column;
}

.screen-1 {
  display: flex;
  flex-direction: column;
  gap: 16vw;
  padding: 0.8vw 0;
  width: 100%;
  height: 51.2vw;
  background-image: url("../images/background.png");
  background-size: cover;
  overflow: hidden;
}
.snow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.text-1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 15vw;
  margin: 0 auto;
  font-size: 2.8vw;
  font-family: Helvetica;
  color: #fffaee;
}
.word1 {
  animation: text-color-change 1s infinite alternate;
}
.word2 {
  animation: text-color-change 1s infinite alternate;
}
.word3 {
  animation: text-color-change 1s infinite alternate;
}
.word4 {
  animation: text-color-change 1s infinite alternate;
}
.word5 {
  animation: text-color-change 1s infinite alternate;
}

.word1:nth-child(1) {
  animation-delay: 0s;
}
.word2:nth-child(2) {
  animation-delay: 0.2s;
}
.word3:nth-child(3) {
  animation-delay: 0.4s;
}
.word4:nth-child(4) {
  animation-delay: 0.6s;
}
.word5:nth-child(5) {
  animation-delay: 0.8s;
}
.screen-1 h2 {
  text-align: center;
  font-size: 31.8vw;
  font-family: Stark;
  color: #fffaee;
  margin: 0 auto;
}
/* .snow {
  display: flex;
  flex-direction: column;
} */
.snow img {
  width: 3.1vw;
  height: 3.1vw;
  animation: moving-snowflake 10s infinite linear;
  position: absolute;
}
img.snowflake1 {
  left: 5vw;
  animation-delay: -0.5s;
}
img.snowflake2 {
  left: 30vw;
  animation-delay: -1s;
}
img.snowflake3 {
  left: 61vw;
  animation-delay: -1.5s;
}
img.snowflake4 {
  top: 9.8vw;
  animation-delay: -2s;
}
img.snowflake5 {
  animation-delay: -2.5s;
  left: 92vw;
}
img.snowflake6 {
  animation-delay: -3s;
  left: 14vw;
}
img.snowflake7 {
  animation-delay: -3.5s;
  left: 44vw;
}
img.snowflake8 {
  animation-delay: -4s;
  left: 71vw;
}
img.snowflake9 {
  animation-delay: -4.5s;
  left: 87vw;
}
img.snowflake10 {
  animation-delay: -5s;
  left: 7vw;
}
img.snowflake11 {
  animation-delay: -5.5s;
  left: 16vw;
}
img.snowflake12 {
  animation-delay: -6s;
  left: 3vw;
}
img.snowflake13 {
  animation-delay: -6.5s;
  left: 26vw;
}
img.snowflake14 {
  animation-delay: -7s;
  left: 15vw;
}
img.snowflake15 {
  animation-delay: -7.5s;
  left: 9vw;
}
img.snowflake16 {
  animation-delay: -8s;
  left: 35vw;
}
img.snowflake17 {
  animation-delay: -8.5s;
  left: 52vw;
}
img.snowflake18 {
  animation-delay: -9s;
  left: 67vw;
}
img.snowflake19 {
  animation-delay: -9.5s;
  left: 91vw;
}
img.snowflake20 {
  animation-delay: -10s;
  left: 52vw;
}
img.snowflake21 {
  animation-delay: -10.5s;
  left: 82vw;
}
img.snowflake22 {
  animation-delay: -11.5s;
  left: 82vw;
}
img.snowflake23 {
  animation-delay: -12s;
  left: 58vw;
}
img.snowflake24 {
  animation-delay: -12.5s;
  left: 29vw;
}
img.snowflake25 {
  animation-delay: -13s;
  left: 64vw;
}

.screen-2 {
  overflow-x: hidden;
  position: relative;
  display: flex;
  background-color: #ae1100;
  justify-content: space-between;
  height: 10.8vw;
  padding: 0.8vw 2vw;
}
.screen-2-anim {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 16vw;
}
.screen-2 h1 {
  font-size: 2.8vw;
  font-family: Helvetica;
  color: #fffaee;
  animation: animeted-text 4s infinite ease-in-out;
}
.screen-2 h2 {
  font-size: 8.5vw;
  font-family: Stark;
  color: #fffaee;
  /* padding: 0 2vw 0 8vw; */
}
.date {
  animation: animeted-text 4s infinite ease-in-out;
}
/* .dash {
  width: 4vw;
  height: 1vw;
  background-color: #fffaee;
  animation: animeted-dash 4s infinite ease-in-out;
  margin-top: 4vw;
} */

.screen-3 {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  height: 62.5vw;
}
.first-part {
  width: 47.1vw;
  position: relative;
}
.child {
  position: absolute;
  top: 2.5vw;
  left: 2.5vw;
  height: 58vw;
  width: 42.2vw;
  /* animation: animeted-child 1s linear infinite alternate; */
}
.child2 {
  position: absolute;
  top: 2.5vw;
  left: 2.6vw;
  height: 58vw;
  width: 42.2vw;
  animation: animeted-child 1.5s linear infinite alternate-reverse;
}

.light {
  width: 42.6vw;
  height: 25.4vw;
  position: absolute;
  left: 2.1vw;
  top: 35vw;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.light:hover {
  width: 42.6vw;
  height: 25.4vw;
  position: absolute;
  left: 2.1vw;
  top: 35vw;
  opacity: 1;
}
.second-part {
  display: flex;
  flex-wrap: nowrap;
  width: 52.9vw;
  background-color: #ae1100;
}
.back-wreath {
  height: 20.9vw;
  width: 28.2vw;
  position: relative;
  background-color: #12131d;
}
.wreath {
  position: absolute;
  top: 0.7vw;
  left: 4.3vw;
  height: 19.2vw;
  width: 19.2vw;
  animation: rotate-wreath 15s linear infinite;
}
.ball1 {
  position: absolute;
  top: 4vw;
  left: 10vw;
  width: 3vw;
  height: 3vw;
  height: 3vw;
  animation: decoration 0.8s linear infinite alternate;
}
.ball2 {
  position: absolute;
  top: 7vw;
  left: 17.3vw;
  width: 3vw;
  height: 3vw;
  animation: decoration 0.8s linear infinite alternate;
}
.ball3 {
  position: absolute;
  top: 11vw;
  left: 7.5vw;
  width: 3vw;
  height: 3vw;
  animation: decoration 0.8s linear infinite alternate;
}
.ball4 {
  position: absolute;
  top: 13.3vw;
  left: 14.5vw;
  width: 3vw;
  height: 3vw;
  animation: decoration 0.8s linear infinite alternate;
}

.sts1 {
  position: absolute;
  top: 14vw;
  left: 11.5vw;
  width: 2vw;
  height: 2vw;
  animation: decoration 0.8s linear infinite alternate-reverse;
}
.sts2 {
  position: absolute;
  top: 4.1vw;
  left: 14.5vw;
  width: 2vw;
  height: 2vw;
  animation: decoration 0.8s linear infinite alternate-reverse;
}
.sts3 {
  position: absolute;
  top: 10.8vw;
  left: 17.6vw;
  width: 2vw;
  height: 2vw;
  animation: decoration 0.8s linear infinite alternate-reverse;
}
.sts4 {
  position: absolute;
  top: 7.5vw;
  left: 8.1vw;
  width: 2vw;
  height: 2vw;
  animation: decoration 0.8s linear infinite alternate-reverse;
}
.gift {
  position: relative;
  height: 20.9vw;
  width: 28.2vw;
  top: 0vw;
  left: 0vw;
  background-color: #ae1100;
  background-image: url("../images/back-gift.svg");
  background-size: 28.2vw 20.9vw;
}

.tape {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  width: 27vw;
  animation: animeted-tape 1s alternate-reverse infinite;
}
.red-bow {
  position: absolute;
  top: 6.2vw;
  left: 9.9vw;
  height: 8.2vw;
  width: 8.2vw;
  animation: animeted-red-bow 1s infinite alternate;
}
.black-bow {
  position: absolute;
  top: 7.7vw;
  left: 11.3vw;
  height: 5.2vw;
  width: 5.2vw;
  animation: animeted-black-bow 1s infinite alternate;
}
.star-block {
  position: relative;
  height: 20vw;
  width: 28.2vw;
  background-color: #ae1100;
  background-image: url("../images/back-star.svg");
  background-size: 28.2vw 20vw;
}
.star {
  position: absolute;
  top: 1.5vw;
  left: 5.5vw;
  height: 16.6vw;
  width: 16.6vw;
  animation: animeted-star 2s infinite alternate;
}
.part-star-up {
  position: absolute;
  top: 2vw;
  left: 17.3vw;
  height: 4.7vw;
  width: 4.7vw;
  animation: animeted-parts-star 2s infinite alternate;
}
.part-star-down {
  position: absolute;
  top: 12.7vw;
  left: 5.6vw;
  height: 4.7vw;
  width: 4.7vw;
  animation: animeted-parts-star 2s infinite alternate;
}
.сhristmas-tree {
  height: 62.5vw;
  width: 24.7vw;
  background-color: #12131d;
  background-image: url("../images/сhristmas-tree2.svg");
  background-size: 24.7vw 62.5vw;
}
.сhristmas-tree1 {
  object-fit: cover;
  height: 62.5vw;
  width: 24.7vw;
  animation: animated-сhristmas-tree 1s linear infinite alternate;
}

.screen-4 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  background-color: #12131d;
  height: 30.8vw;
}
.snowdrift-block {
  width: 60.8vw;
}
.snowdrift {
  width: 65.8vw;
  height: 28.7vw;
  position: absolute;
  left: 0vw;
  top: 2.2vw;
}
.first-line {
  width: 52.5vw;
  height: 3.7vw;
  position: absolute;
  left: 3vw;
  top: 0.3vw;
  animation: animeted-line-snow-odd 0.5s infinite alternate;
}
.second-line {
  width: 52.5vw;
  height: 3.7vw;
  position: absolute;
  left: 4vw;
  top: 3vw;
  animation: animeted-line-snow-even 0.5s infinite alternate-reverse;
}
.third-line {
  width: 54.6vw;
  height: 5.7vw;
  position: absolute;
  left: 4vw;
  top: 7vw;
  animation: animeted-line-snow-odd 0.5s infinite alternate;
}
.forth-line {
  width: 32.6vw;
  height: 7.9vw;
  position: absolute;
  left: 27vw;
  top: 13vw;
  animation: animeted-line-snow-even 0.5s infinite alternate-reverse;
}
.fifth-line {
  width: 13.7vw;
  height: 13.7vw;
  position: absolute;
  left: 36vw;
  top: 6vw;
  animation: animeted-line-snow-odd 0.5s infinite alternate;
}
.snowman-block {
  width: 39.2vw;
}
.snowman-with-open {
  width: 39.2vw;
  height: 29.5vw;
  position: absolute;
  left: 60.8vw;
  top: 1.3vw;
}

.snowman-with-close {
  width: 39.2vw;
  height: 29.5vw;
  position: absolute;
  left: 60.8vw;
  top: 1.3vw;
  opacity: 0;
  transition: transform 0.5s;
}

.snowman-with-close:hover {
  width: 39.2vw;
  height: 29.5vw;
  position: absolute;
  left: 60.8vw;
  top: 1.3vw;
  opacity: 1;
}

.screen-5 {
  height: 31.7vw;
  background-color: #fffaee;
  overflow-x: hidden;
}
.run-stroke {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  animation: marquee 18s infinite linear;
  width: 400%;
}
.run-stroke img {
  height: 31.7vw;
  width: 33.3%;
}

.screen-6 {
  display: flex;
  position: relative;
  height: 62.5vw;
  background-color: #ae1100;
  overflow-y: hidden;
  overflow-x: hidden;
}
.screen-6 h1 {
  font-size: 11.3vw;
  font-family: Stark;
  color: #fffaee;
  text-align: center;
  padding: 1.7vw;
}
.ball {
  width: 100vw;
  height: 58.3vw;
  position: absolute;
  top: 4.2vw;
  left: 0vw;
  animation: animeted-ball 3s infinite;
}
.snowflakes-left {
  width: 30vw;
  height: 24vw;
  position: absolute;
  top: 31vw;
  left: -10vw;
  animation: animeted-snowflakes-left 3s infinite;
}
.snowflakes-right {
  width: 22.1vw;
  height: 30.1vw;
  position: absolute;
  top: 30.2vw;
  left: 80vw;
  animation: animeted-snowflakes-right 3s infinite;
}

.screen-7 {
  height: 8.3vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 10.2vw;
  background-color: #fffaee;
}
.screen-7 h1 {
  font-size: 3.1vw;
  font-family: Stark;
  color: #12131d;
  margin: auto;
}
