* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: #fffaee;
}
h1 {
  font-size: 45px;
  font-family: Stark;
}
h2 {
  font-size: 45px;
  font-family: Helvetica;
}
