* {
  box-sizing: border-box;
}
/* body {
  background-color: #fffaee;
  width: 100vw;
  height: 258.3vw;
  display: flex;
  flex-direction: column;
  opacity: 0.1;
  background-image: url("../images/Frame\ 24.png");
  background-size: cover;
} */

.screen-1 {
  display: flex;
  flex-direction: column;
  gap: 16vw;
  padding: 0.8vw 0;
  width: 100%;
  height: 51.2vw; /* ничего страшного, что дробные числа? */
  background-image: url("../images/background.png");
  background-size: cover;
}
.text-1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 15vw;
  margin: 0 auto;
  font-size: 2.8vw;
  font-family: Helvetica;
  color: #fffaee;
}
.screen-1 h2 {
  text-align: center;
  font-size: 31.8vw;
  font-family: Stark;
  color: #fffaee;
  margin: 0 auto;
}

.screen-2 {
  display: flex;
  background-color: #ae1100;
  flex-wrap: nowrap;
  padding: 0.8vw 2vw;
  gap: 16.3vw;
  height: 10.8vw;
}
.screen-2 h1 {
  font-size: 2.8vw;
  font-family: Helvetica;
  color: #fffaee;
}
.screen-2 h2 {
  font-size: 8.5vw;
  font-family: Stark;
  color: #fffaee;
}

.screen-3 {
  display: flex;
  flex-wrap: nowrap;
  height: 62.5vw;
}
.first-part {
  width: 47.1vw;
}
.second-part {
  width: 52.9vw;
  background-color: #ae1100;
}

.screen-4 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #12131d;
  height: 30.8vw;
}
/* ПОЧЕМУ НЕ РАБОТАЕТ?
.screen-4 first-part {
  width: 60.8vw;
}
.screen-4 second-part {
  width: 39.2vw;
} */
.first-block {
  width: 60.8vw;
}
.second-block {
  width: 39.2vw;
}

.screen-5 {
  height: 31.7vw;
}

.screen-6 {
  height: 62.5vw;
  background-color: #ae1100;
}
.screen-6 h1 {
  font-size: 11.3vw;
  font-family: Stark;
  color: #fffaee;
  text-align: center;
  padding: 1.7vw;
}

.screen-7 {
  height: 8.3vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 10.2vw;
}
.screen-7 h1 {
  font-size: 3.1vw;
  font-family: Stark;
  color: #12131d;
  margin: auto;
}
