* {
  box-sizing: border-box;
}
body {
  background-color: #fffaee;
  width: 100%;
  height: 258.3vw;
  display: flex;
  flex-direction: column;
  /* opacity: 0.1;
  background-image: url("../images/Frame\ 24.png");
  background-size: cover; */
}

.screen-1 {
  display: flex;
  flex-direction: column;
  gap: 16vw;
  padding: 0.8vw 0;
  width: 100%;
  height: 51.2vw; /* ничего страшного, что дробные числа? */
  background-image: url("../images/background.png");
  background-size: cover;
  overflow: hidden;
}
.snow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.text-1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 15vw;
  margin: 0 auto;
  font-size: 2.8vw;
  font-family: Helvetica;
  color: #fffaee;
  /* animation: text-color-change 1s infinite alternate; */
}
.word1 {
  animation: text-color-change 1s infinite alternate;
}
.word2 {
  animation: text-color-change 1s infinite alternate;
}
.word3 {
  animation: text-color-change 1s infinite alternate;
}
.word4 {
  animation: text-color-change 1s infinite alternate;
}
.word5 {
  animation: text-color-change 1s infinite alternate;
}

.word1:nth-child(1) {
  animation-delay: 0s;
}
.word2:nth-child(2) {
  animation-delay: 0.2s;
}
.word3:nth-child(3) {
  animation-delay: 0.4s;
}
.word4:nth-child(4) {
  animation-delay: 0.6s;
}
.word5:nth-child(5) {
  animation-delay: 0.8s;
}
.screen-1 h2 {
  text-align: center;
  font-size: 31.8vw;
  font-family: Stark;
  color: #fffaee;
  margin: 0 auto;
}
/* .snow {
  display: flex;
  flex-direction: column;
} */
.snow img {
  width: 3.1vw;
  height: 3.1vw;
  animation: moving-snowflake 10s infinite linear;
  position: absolute;
}
img.snowflake1 {
  left: 5vw;
  animation-delay: -5s;
}
img.snowflake2 {
  left: 30vw;

  animation-delay: -8s;
}
img.snowflake3 {
  position: absolute;
  top: 9vw;
  left: 61vw;
  width: 3.1vw;
  height: 3.1vw;
}
img.snowflake4 {
  position: absolute;
  top: 9.8vw;
  left: 79vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake5 {
  position: absolute;
  top: 6vw;
  left: 92vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake6 {
  position: absolute;
  top: 11vw;
  left: 14vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake7 {
  position: absolute;
  top: 13vw;
  left: 44vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake8 {
  position: absolute;
  top: 17vw;
  left: 71vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake9 {
  position: absolute;
  top: 21vw;
  left: 87vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake10 {
  position: absolute;
  top: 22vw;
  left: 7vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake11 {
  position: absolute;
  top: 27vw;
  left: 16vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake12 {
  position: absolute;
  top: 36vw;
  left: 3vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake13 {
  position: absolute;
  top: 17vw;
  left: 26vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake14 {
  position: absolute;
  top: 41vw;
  left: 15vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake15 {
  position: absolute;
  top: 46vw;
  left: 9vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake16 {
  position: absolute;
  top: 21vw;
  left: 35vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake17 {
  position: absolute;
  top: 22vw;
  left: 52vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake18 {
  position: absolute;
  top: 27vw;
  left: 67vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake19 {
  position: absolute;
  top: 33vw;
  left: 91vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake20 {
  position: absolute;
  top: 43vw;
  left: 52vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake21 {
  position: absolute;
  top: 44vw;
  left: 82vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake22 {
  position: absolute;
  top: 34vw;
  left: 82vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake23 {
  position: absolute;
  top: 31vw;
  left: 58vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake24 {
  position: absolute;
  top: 34vw;
  left: 29vw;
  width: 3.1vw;
  height: 3.1vw;
}
.snowflake25 {
  position: absolute;
  top: 46vw;
  left: 64vw;
  width: 3.1vw;
  height: 3.1vw;
}

.screen-2 {
  position: relative;
  display: flex;
  background-color: #ae1100;
  justify-content: space-between;
  height: 10.8vw;
  padding: 0.8vw 2vw;
  /* gap: 16.3vw; */
}
.screen-2-anim {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.screen-2 h1 {
  font-size: 2.8vw;
  font-family: Helvetica;
  color: #fffaee;
  animation: animeted-text 4s infinite ease-in-out;
}
.screen-2 h2 {
  font-size: 8.5vw;
  font-family: Stark;
  color: #fffaee;
}
.date {
  animation: animeted-text 4s infinite ease-in-out;
}
.dash {
  width: 4vw;
  height: 1vw;
  background-color: #fffaee;
  animation: animeted-dash 4s infinite ease-in-out;
  margin-top: 4vw;
  transform-origin: center left;
  transform: rotate(180deg) translateX(-4vw);
}

.screen-3 {
  display: flex;
  flex-wrap: nowrap;
  height: 62.5vw;
}
.first-part {
  width: 47.1vw;
}
.child {
  height: 52.3vw;
  position: absolute;
  top: 71vw;
  padding: 0 2.5vw;
}
.back-for-child {
  height: 45.5vw;
  position: absolute;
  top: 65vw;
  padding: 0 6.6vw;
}
.light {
  height: 46.6vw;
  width: 38.7vw;
  position: absolute;
  left: 4vw;
  top: 87vw;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.light:hover {
  height: 46.6vw;
  width: 38.7vw;
  position: absolute;
  left: 4vw;
  top: 87vw;
  opacity: 1;
}
.second-part {
  /* overflow: hidden; */
  display: flex;
  flex-wrap: nowrap;
  width: 52.9vw;
  background-color: #ae1100;
}
.back-wreath {
  height: 20.9vw;
  width: 28.2vw;
  background-color: #12131d;
}
.wreath {
  position: absolute;
  top: 62.7vw;
  left: 51.5vw;
  height: 19.2vw;
  width: 19.2vw;
  /* padding: 0.8vw 4.1vw; */
  animation: rotate-wreath 25s linear infinite;
}

.gift {
  height: 20.9vw;
  width: 28.2vw;
  background-color: #ae1100;
}

.back-gift {
  /* может вписать как background-image в секцию? */
  height: 20.9vw;
  width: 28.2vw;
}
.tape {
  position: absolute;
  top: 83.3vw;
  left: 47.4vw;
  height: 20.9vw 169.081px;
  width: 27vw;
  animation: animeted-red-bow 1s alternate-reverse infinite;
}
.red-bow {
  position: absolute;
  top: 89vw;
  left: 56.8vw;
  height: 8.2vw;
  width: 8.2vw;
  animation: animeted-red-bow 1s infinite alternate;
}
.black-bow {
  position: absolute;
  top: 90.4vw;
  left: 58.3vw;
  height: 5.2vw;
  width: 5.2vw;
  animation: animeted-black-bow 1s infinite alternate;
}
.star-block {
  height: 20vw;
  width: 28.2vw;
  background-color: #ae1100;
  background-image: url("../images/back-star.svg");
  background-size: 28.2vw 20vw;
}
.star {
  position: absolute;
  top: 105.4vw;
  left: 52.5vw;
  height: 16.6vw;
  width: 16.6vw;
}
.part-star-up {
  position: absolute;
  top: 105.5vw;
  left: 65vw;
  height: 4.7vw;
  width: 4.7vw;
}
.part-star-down {
  position: absolute;
  top: vw;
  left: vw;
  height: 4.7vw;
  width: 4.7vw;
}
.сhristmas-tree {
  height: 62.5vw;
  width: 24.7vw;
  background-color: #12131d;
  background-image: url("../images/сhristmas-tree1.svg");
  background-size: 24.7vw 62.5vw;
}
.сhristmas-tree2 {
  height: 62.5vw;
  width: 24.7vw;
}

.screen-4 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #12131d;
  height: 30.8vw;
}
.snowdrift-block {
  width: 60.8vw;
}
.snowdrift {
  width: 63.2vw;
  height: 30.6vw;
  position: absolute;
  left: 0vw;
  top: 124.8vw;
}
.first-line {
  width: 52.5vw;
  height: 3.7vw;
  position: absolute;
  left: 4vw;
  top: 124.8vw;
  animation: animeted-line-snow-odd 0.5s infinite alternate;
}
.second-line {
  width: 44.6vw;
  height: 3.7vw;
  position: absolute;
  left: 8vw;
  top: 127.4vw;
  animation: animeted-line-snow-even 0.5s infinite alternate-reverse;
}
.third-line {
  width: 52.6vw;
  height: 5.1vw;
  position: absolute;
  left: 2vw;
  top: 131.8vw;
  animation: animeted-line-snow-odd 0.5s infinite alternate;
}
.forth-line {
  width: 32.6vw;
  height: 6.9vw;
  position: absolute;
  left: 27vw;
  top: 135.8vw;
  animation: animeted-line-snow-even 0.5s infinite alternate-reverse;
}
.fifth-line {
  width: 13.7vw;
  height: 13.7vw;
  position: absolute;
  left: 35vw;
  top: 129.8vw;
  animation: animeted-line-snow-odd 0.5s infinite alternate;
}
.snowman-block {
  width: 39.2vw;
}
.snowman-with-open {
  width: 39.2vw;
  height: 29.5vw;
  position: absolute;
  left: 60.8vw;
  top: 125.8vw;
  /* padding: 0 0; */
}

.snowman-with-close {
  width: 39.2vw;
  height: 29.5vw;
  opacity: 0;
  position: absolute;
  left: 60.8vw;
  top: 125.8vw;
  transition: transform 0.5s;
  /* padding: 0 0; */
}

.snowman-with-close:hover {
  width: 39.2vw;
  height: 29.5vw;
  opacity: 1;
  position: absolute;
  left: 60.8vw;
  top: 125.8vw;
  /* padding: 0 0; */
}

.screen-5 {
  height: 31.7vw;
  background-color: #fffaee;
}
.run-stroke {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  animation: marquee 18s infinite linear;
  width: 400%;
}
.run-stroke img {
  height: 31.7vw;
  width: 33.3%;
}

.screen-6 {
  height: 62.5vw;
  background-color: #ae1100;
  overflow-y: hidden;
}
.screen-6 h1 {
  font-size: 11.3vw;
  font-family: Stark;
  color: #fffaee;
  text-align: center;
  padding: 1.7vw;
}
.ball {
  width: 100vw;
  height: 58.3vw;
  position: absolute;
  top: 191.2vw;
  left: 0vw;
  animation: animeted-ball 4s infinite;
}
.snowflakes-left {
  width: 30vw;
  height: 24vw;
  position: absolute;
  top: 215.4vw;
  left: -8vw;
  animation: animeted-snowflakes-left 4s infinite;
}
.snowflakes-right {
  width: 22.1vw;
  height: 30.1vw;
  position: absolute;
  top: 215.4vw;
  left: 82vw;
  animation: animeted-snowflakes-right 4s infinite;
}

.screen-7 {
  height: 8.3vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 10.2vw;
  background-color: #fffaee;
}
.screen-7 h1 {
  font-size: 3.1vw;
  font-family: Stark;
  color: #12131d;
  margin: auto;
}
